{% extends 'blog/base.html' %}

{% block content %}

<div class="container mt-5">
    <h2 class="mb-4">Форма заявки</h2>

    <!-- Booking Form with Bootstrap styling -->
    <form method="post" action="{% url 'booking' %}" class="form">
        {% csrf_token %}
        {{ form.name.label_tag }}
        {{ form.name }}<br><br>
        {{ form.phone.label_tag }}
        {{ form.phone }}<br><br>
        {{ form.email.label_tag }}
        {{ form.email }}<br><br>
        {{ form.comment.label_tag }}
        {{ form.comment }}<br><br>

        <button type="submit" class="btn btn-primary mt-3">Забронировать</button>
    </form>
</div>

{% endblock %}